.runPageContainer {
    padding: 24px;
    background-color: #F8FAFD;
}

.runPageTileDiv {
    background-image: url("../../../../assets/run_page_title.png");
    margin-top: 24px;
    margin-bottom: 24px;
    background-size: 100% 100%;
    height: 149px;
    width: 100%;
    padding: 40px 45px 40px 45px;
    display: flex;
}

.paramDiv {
    height: 300px;
    overflow-y: auto;
    border-radius: 8px;
    background: #FFFFFF;
    margin-bottom: 12px;
    padding: 20px;
}
.paramTitle {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bolder;
}
.resultDiv {
    padding: 20px;
    height: 500px;
    border-radius: 8px;
    background: #FFFFFF;
    word-break: break-all;
    overflow-y: auto;
}

.stepDiv {
    padding: 20px;
    height: 812px;
    border-radius: 8px;
    background: #FFFFFF;
    overflow-y: auto;
}
.resultContainer {
    border-radius: 8px;
    min-height: 400px;
    background-color: #F7F7F7;
    padding: 10px;
    border: 1px solid #F0F0F0;
}
.resultTitle {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bolder;
}
.workflowTitle {
    font-weight: bolder;
    font-size: 24px;
}
.workflowDescription {
    font-size: 12px;
    color: #5E6673;
    margin-top: 8px;
}